@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variable
$primary-color: hotpink;


div {
  font-family: FontAwesome;
}
// Mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.my-element {
  color: $primary-color;
  width: 100%;
  overflow: hidden;
}

.my-other-element {
  @include border-radius(5px);
}

.personalSummaryContainer {
	background: grey;
}

.mainContentContainer {
	background: $primary-color;
}