@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variable
$primary-color: hotpink;
$background-color: #f0f0f8;
$text-color: #000020;

body {
  color: $text-color;
}

div {
  font-family: FontAwesome;
}
// Mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.my-element {
  color: $primary-color;
  width: 100%;
  overflow: hidden;
}

.button {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
}

.my-other-element {
  @include border-radius(5px);
}

.personalSummaryContainer {
	background: $background-color;
}

.mainContentContainer {
	background: $primary-color;
}

.modalGreyout {
  position: absolute;
  background: rgba(40, 40, 40, 0.7);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.modalContent {
  position: absolute;
  background: $background-color;
  width: 40%;
  margin: 0 auto;
  left: 0;
  top: 20%;
  right: 0;
  z-index: 10;
}