@import "node_modules/font-awesome/scss/font-awesome.scss";
// Variable
$primary-color: hotpink;
$background-color: #f0f0f8;
$text-color: #000020;
$light-text-color: #777797;
$navbar-height: 30px;

body {
  color: $text-color;
}

div {
  font-family: FontAwesome;
}

// Mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
.landing {
  width: 100%;
  height: 100%;
}

.width75 {
  width: 75%;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.width100 {
  width: 100%;
}

.contactCard {
  text-align: left;
  float: left;
  width: 150px;
  height: 50px;
  border: 1px solid black;
}

.title {
  font-size: 10px;
}

.subtitle {
  font-size: 10px;
  color: $light-text-color; 
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.my-element {
  color: $primary-color;
  width: 100%;
  overflow: hidden;
}

.mainPanel {
  width: 80%;
  min-width: calc(100% - 200px);
  float: left;
}

.leftPanel {
  width: 20%;
  max-width: 200px;
  float: left;
}

.navbar {
  height: $navbar-height;
}

#swaggerContainer {
  padding: 10px;
}

.contentContainer {
  width: 100%;
  overflow: hidden;
}

.button {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
  text-align: center;
}

.icon {
  font-size: 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.avatarThumb {
  height: 20px;
  img {
    float: right;
    border-radius: 10px;
    max-height: 20px;
    max-width: 20px;
    cursor: pointer;
  }
}

.my-other-element {
  @include border-radius(5px);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.personalSummaryContainer {
	background: $background-color;
}

.mainContentContainer {
	background: $primary-color;
}

.dropdown {
  background-color: $background-color;
}

.dropdownElement {
  width: 100%;
  height: 20px;
}

.modalGreyout {
  position: absolute;
  background: rgba(40, 40, 40, 0.7);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.modalContent {
  position: absolute;
  background: $background-color;
  width: 40%;
  margin: 0 auto;
  left: 0;
  top: 20%;
  right: 0;
  z-index: 10;
  border-radius: 10px;
}

.modalNavbar {
  float: right;
  width: 20px;
  .icon {
    cursor: pointer;
  }
}

.placeholderText {
  height: calc(100% - 20px - #{$navbar-height});
  overflow-y: auto;
  text-align: center;
  border-style: dashed;
}